body {
  background: rgb(161, 161, 161);
  background: linear-gradient(
    90deg,
    rgba(161, 161, 161, 1) 0%,
    rgba(13, 13, 13, 1) 100%
  );
}

#text {
  color: white;
  font-size: xx-large;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

#btn {
  background-color: rgb(255, 0, 0);
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn:hover {
  background-color: rgb(255, 102, 0);
}

#btn2{
  background-color: purple;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn2:hover {
  background-color: darkmagenta;
}


#btn3{
  background-color: rgb(7, 7, 7);
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

#btn3:hover{
  background-color: white;
  color: rgb(0, 0, 0);
}


header{
  background-color: red;
  color: white;
  font-size: xx-large;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

a{
  color: white;
  font-size: xx-large;
  font-family: Arial, sans-serif;
  font-weight: bold;

}