h1{
    text-align: center;
  
  }
  
  p{
    text-align: center;
  
  
  }



  body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-family: 'Roboto', sans-serif;
    color: white;
  
  }







 /* Simplify the design of the site for mobile devices */
@media only screen and (max-width: 768px) {
  /* Hide the sidebar on mobile devices */
  .sidebar {
    display: none;
  }
  
  /* Reduce the font size of the heading */
  h1 {
    font-size: 24px;
  }
  
  /* Reduce the amount of padding on the content area */
  .content {
    padding: 20px;
  }
}
 