button {
     
      color: rgb(0, 0, 0);
     background-color:aquamarine;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    body{
      background-color:deepskyblue;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
  div{
    background-color: black;
  }

